USE [master]
GO
/****** Object:  Database [ispp3503]    Script Date: 08.09.2025 15:05:39 ******/
CREATE DATABASE [ispp3503]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3503', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3503.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3503_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3503_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3503].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3503]
GO
/****** Object:  Table [dbo].[Assigment]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assigment](
	[AssigmentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[PassingScore] [int] NOT NULL,
	[TopicId] [int] NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Assigment] PRIMARY KEY CLUSTERED 
(
	[AssigmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[TopicId] [int] NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NULL,
	[Text] [nvarchar](150) NULL,
	[CorrectAnswer] [nvarchar](250) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Duration] [int] NULL,
	[PassingScore] [int] NULL,
	[TopicId] [int] NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.09.2025 15:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assigment] ON 

INSERT [dbo].[Assigment] ([AssigmentId], [Title], [Duration], [PassingScore], [TopicId], [Description]) VALUES (2, N'Разработка функции', 60, 0, 2, N'Разработать функцию для подсчета 2+2')
INSERT [dbo].[Assigment] ([AssigmentId], [Title], [Duration], [PassingScore], [TopicId], [Description]) VALUES (3, N'Разработка калькулятора', 100, 100, 4, N'Разработать калькулятор на языке Python с возможностью сложения, вычитания, деления, умножения')
INSERT [dbo].[Assigment] ([AssigmentId], [Title], [Duration], [PassingScore], [TopicId], [Description]) VALUES (4, N'Разработать компьютерную матрицу', 1, 0, 2, N'Разработать компьютерную матрицу из фильма "Матрица" на языке С++')
SET IDENTITY_INSERT [dbo].[Assigment] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([MaterialId], [Title], [Description], [TopicId], [Type]) VALUES (1, N'Разработка приложения', N'Разработка приложения на С++', 2, N'Презентация')
INSERT [dbo].[Material] ([MaterialId], [Title], [Description], [TopicId], [Type]) VALUES (2, N'Разработка базы данных', N'Разработка базы данных', 1, N'Книга')
INSERT [dbo].[Material] ([MaterialId], [Title], [Description], [TopicId], [Type]) VALUES (3, N'Разработка подсистем на C#', N'Разработка подсистем на языке программирования C#', 3, N'Статья')
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionId], [TestId], [Text], [CorrectAnswer]) VALUES (1, 1, N'Сколько в тебе человеческого?', N'Много')
INSERT [dbo].[Question] ([QuestionId], [TestId], [Text], [CorrectAnswer]) VALUES (2, 1, N'Что такое ключевое слово ''virtual''', N'Позволяет переопределять методы в произвольных классах')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Студент')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Преподаватель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([TestId], [Title], [Duration], [PassingScore], [TopicId]) VALUES (1, N'Аннигилятор 3000', 20, 100, 1)
INSERT [dbo].[Test] ([TestId], [Title], [Duration], [PassingScore], [TopicId]) VALUES (2, N'Сальто мортале', 60, 0, 2)
INSERT [dbo].[Test] ([TestId], [Title], [Duration], [PassingScore], [TopicId]) VALUES (3, N'Вешалка', 1, 100, 4)
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([TopicId], [Title], [DifficultyLevel]) VALUES (1, N'Базы данных', 2)
INSERT [dbo].[Topic] ([TopicId], [Title], [DifficultyLevel]) VALUES (2, N'С++', 4)
INSERT [dbo].[Topic] ([TopicId], [Title], [DifficultyLevel]) VALUES (3, N'С#', 3)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Login], [Password], [RoleId]) VALUES (1, N'abc1', N'abc1', 2)
INSERT [dbo].[User] ([UserId], [Login], [Password], [RoleId]) VALUES (2, N'aaa', N'aaa', 2)
INSERT [dbo].[User] ([UserId], [Login], [Password], [RoleId]) VALUES (3, N'123', N'123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Assigment]  WITH CHECK ADD  CONSTRAINT [FK_Assigment_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([TopicId])
GO
ALTER TABLE [dbo].[Assigment] CHECK CONSTRAINT [FK_Assigment_Topic]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([TestId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Test]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([TopicId])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Topic]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
